table {
    background-color: yellow;
    border-collapse: collapse;
}

html,body{
    margin-left:15px;
    margin-right:15px;
    width: 72%;
}

th {
    border-bottom: 1px solid crimson;
}

.addButton {
    backround-color: red;
    font-style: italic;
    color: blue;
}